* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.svg-bg {
    position: absolute;
    top: 0;
    left: 0;
}

.svg-offset {
    offset-path: path("M351 512C245.8 357.6 190.833 447.667 176.5 512C137.333 533.833 55.6999 559 42.4999 485C29.2999 411 72.6665 324.167 95.9999 290C133 285.167 197.2 246.7 158 131.5C118.8 16.3001 301.667 83.5 398 131.5C428.833 71.1667 517.3 -26.4 624.5 66C731.7 158.4 833.5 104.5 871 66C1011.5 82.3334 1253 131.1 1095 195.5C937 259.9 982.5 362 1025 405C957.167 531.667 801 730.4 719 512C637 293.6 568.167 421 544 512C523.5 576.333 456.2 666.4 351 512Z");
    animation: offset 10s infinite;
}

@keyframes offset {
    from {
        offset-distance: 0%;
    }

    to {
        offset-distance: 100%;
    }
}